.vendor_stocks_modal .modal-dialog{
	width:65% !important;
}
.buyer_purchases_modal .modal-dialog{
	width:75% !important;
}
.auction_stocks_modal .modal-dialog{
	width:75% !important;
}
.invoice_details_modal .modal-dialog{
	width:96% !important;
}
.modal-title{
	text-align: center;
	font-weight: 600;
}
tfoot tr td{
	font-weight: 600;
}
tr>td, tr>th{
	text-align: center;
}